<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/icon.png">

    <title>LocalVar</title>

    <!-- CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/base.css" rel="stylesheet">
    <!-- JS -->
    <script src="../static/js/script.js"></script>
  </head>

  <body onload="highlight('{{ selected }}')">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><img src="../static/images/icon.png" width="25" height="25"/> LocalVar</a>
    </nav>
    <div id="initializing" class="initializing"><span class="initializing_text pl-5">Initializing...</span><span class="initializing_sub pl-5">This can take longer for large collections</span></div>
    <div id="loading" class="loading"></div>
    <div id="non" class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-fixed">
            <ul id="sidebar-list" style="margin-top:70px" class="nav flex-column">
              <li id="new-collection" class="nav-item">
                <a class="nav-link" href="/new-collection">
                  <img class="pb-1"src="../static/icons/file-plus.svg"></img>
                  New Collection
                </a>
              </li>
              <li id="viewer" class="nav-item">
                <a class="nav-link active" href="/">
                  <img class="pb-1"src="../static/icons/list.svg"></img>
                  View Collection <span id="table-load" style="float:right;"><img class="mx-auto d-block" width="20" height="20" src="../static/images/loading.gif"/></span>
                </a>
              </li>
              <li id="suggestions" class="nav-item">
                <a class="nav-link" href="/suggestions?type=update">
                  <img class="pb-1"src="../static/icons/alert-circle.svg"></img>
                  Suggestions
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Reports</span>
            </h6>
            <ul id="report-list" class="nav flex-column mb-2">
                <li id="csv" class="nav-item">
                  <a class="nav-link" href="/file?type=collection">
                    <img class="pb-1" src="../static/icons/file-text.svg"></img>
                    Snapshot (.csv)
                  </a>
                </li>
                  <li id="history" class="nav-item">
                    <a class="nav-link" href="/file?type=history">
                      <img class="pb-1"src="../static/icons/file-text.svg"></img>
                      History
                    </a>
                  </li>
                  <li id="bins" class="nav-item">
                    <a class="nav-link" href="/file?type=bins">
                      <img class="pb-1"src="../static/icons/file-text.svg"></img>
                      HGVS Bins
                    </a>
                  </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>About</span>
            </h6>
            <ul id="about-list" class="nav flex-column mb-2">
              <li id="about-localvar" class="nav-item">
                <a class="nav-link" href="/about?type=local">
                  <img class="pb-1"src="../static/icons/help-circle.svg"></img>
                  LocalVar
                </a>
              </li>
              <li id="about-vrs" class="nav-item">
                <a class="nav-link" href="/about?type=vrs">
                  <img class="pb-1"src="../static/icons/help-circle.svg"></img>
                  VRS
                </a>
              </li>
              <br />
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 mt-5  pt-3 px-4">
          {% block body %}{% endblock %}
      </main>
      </div>
      </div>





  </body>
</html>
