{% extends 'base.html' %}
{% block body %}
<div class="p-3 mb-3 border-bottom ">
    <button class="btn btn-primary" onclick="back()"><img src="../static/icons/chevrons-left.svg"> Back</button>
    <button style="float:right;display:inline" class="btn btn-sm btn-danger mt-1 ml-2" onclick=deleteRecord('{{ id }}')><img src="../static/icons/x.svg"></button><h4 class="mt-2"style="float:right">{{ id }} </h4>
</div>

<div class="pl-3 pr-3">
    <table id="detail-table" class="table table-bordered table-sm mb-0">
        <thead style="background-color:#F8F9FA">
            <tr>
                {{ header|safe }}
            </tr>
        </thead>
        <tbody>
            {{ row|safe }}
        </tbody>
    </table>
    <script>
        let cells = document.getElementsByClassName("edit-cells");
        for (let i = 0; i < cells.length; i++) {
            cells[i].addEventListener("input", function() {
                newEdit();
            });
        }
    </script>
    <div style="height:100vh" class="row mt-0 mr-0 pr-0">
        <div class="col-md-9 mt-2">
            <div class="row">
                <div class="col-md-12">
                    <h6 style="display:inline">Click on a cell value to edit <img class="pb-1"src="../static/icons/edit-3.svg"></h6>
                    <button id="save-edit" style="display:none" class="ml-3 btn btn-sm btn-success" onclick="saveEdit('{{ id }}')">Save</button>
                    <button id="cancel-edit" style="display:none" class="btn btn-sm btn-danger" onclick="select('{{ id }}')">Cancel</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h3 class="pt-3"> {{ hgvs }} </h3>
                    <h5>Interpretation: {{ int }} </h5>
                    <hr />
                    <h5 style="display:inline; font-weight:normal" class="text-muted"><i>Interpretation (ClinVar)</i>:</h5>
                    <a style="display:inline; float:right" href="{{ evidence }}" class="btn btn-primary">Evidence <img class="pb-1"src="../static/icons/external-link.svg"></a>
                    <h5 class="text-muted" style="font-weight:normal"> {{ cv_int }}</h5>
                    <br />
                    <h5 class="text-muted" style="font-weight:normal"><i>Synonym(s)</i>:</h5>
                    <h5 class="text-muted" style="font-weight:normal"> {{ synonyms|safe }}</h5>
                </div>
            </div>



        </div>
        <div class="col-md-3 border border-top-0" style="background-color:#F8F9FA">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="font-weight: normal;" class="pt-3 pb-3 text-muted text-center">History</h3>
                    <pre>{{ edits|safe }}</pre>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}
