{% extends 'base.html' %}
{% block body %}
<div class="pb-2 mb-3 border-bottom ">
    <button class="btn btn-primary" onclick="back()"><img src="../static/icons/chevrons-left.svg"> Back</button>
    <h4 class="mt-2"style="float:right">{{ id }}</h4>
</div>

<div>
    <table id="detail-table" class="table table-bordered table-sm mb-0">
        <thead style="background-color:#F8F9FA">
            <tr>
                {{ header|safe }}
            </tr>
        </thead>
        <tbody>
            <tr>
                {{ row|safe }}
            </tr>
        </tbody>
    </table>
    <div style="height:100vh" class="row mt-0 mr-0 pr-0">
        <div class="col-md-9 mt-2">
            <div class="row">
                <div class="col-md-12">
                    <h6>Click on a cell value to edit <img class="pb-1"src="../static/icons/edit-3.svg"></h6>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h3 class="pt-3"> {{ hgvs }} </h3>
                    <h5>Interpretation: {{ int }} </h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-2 mt-3">
                            <h5 class="text-muted" style="font-weight:normal">Interpretation (ClinVar):</h5>
                        </div>
                        <div class="col-md-8 pl-0 ml-0 mt-3">
                            <h5 class="text-muted" style="font-weight:normal"> {{ cv_int }}</h5>
                        </div>
                        <div class="col-md-2 mt-3">
                            <a href="{{ evidence }}" class="btn btn-outline-primary">Evidence <span data-feather="external-link"></span></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 mt-3">
                            <h5 class="text-muted" style="font-weight:normal">Synonym(s):</h5>
                        </div>
                        <div class="col-md-10 pl-0 ml-0 mt-3">
                            <h5 class="text-muted" style="font-weight:normal"> {{ synonyms|safe }}</h5>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-md-3 border border-top-0" style="background-color:#F8F9FA">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="font-weight: normal;" class="pt-3 pb-3 text-muted text-center">History</h3>
                    <pre>{{ edits }}</pre>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}
