{% extends 'base.html' %}
{% block body %}
    <div id="merge-modal" class="merge-modal" style="display:{{ display }}">
         <!-- The modal content -->
         <div class="merge-modal-content text-center"><h4>Merge Records</h4>
             {{ mergeTable|safe }}
         </div>
     </div>
     <div id="merge-syn-modal" class="modal">
          <!-- The modal content -->
          <div class="modal-content text-center"><h4>Are you sure?</h4>
              <div style="padding:50px;">
                  <h6>Record <i id="syn-updated-id"></i> will be updated</h6>
                  <h6>Record <i id="syn-removed-id"></i> will be moved to the trash</h6>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button id="syn-confirm" class="btn btn-outline-success btn-block">Confirm</button>
                 </div>
                 <div class="col-md-6">
                     <button onclick="mergeSynModal('hide','',[])"class="btn btn-outline-danger btn-block">Cancel</button>
                  </div>
              </div>
          </div>
     </div>
    <div class="row mb-3 pt-3 pl-3 pr-3">
        <div class="col-md-6">
            <!--Make sure the form has the autocomplete function switched off:-->
              <div class="autocomplete" style="width:100%">
                <input autofocus id="myInput" type="text" placeholder="Search by HGVS Expression (ex: NM_000001.1:c.123C>G)">
              </div>
        </div>
        <div class="col-md-6 ml-0 pl-0">
            <button class="btn btn-primary mt-1" style="float:left;" onclick="searchSelect()"><img src="../static/icons/search.svg"></img></button>
            <button class="btn btn-primary mt-1" style="float:right;" onclick="newEntry()"><img class="pb-1" src="../static/icons/plus.svg"></img> New</button>
            <button id="trash-button" class="btn btn-danger mt-1 ml-3" style="display:none;float:left;" onclick="checkBoxTrash()"><img class="pb-1" src="../static/icons/trash-white.svg"></img> Trash</button>
            <button id="merge-button" class="btn btn-success mt-1 ml-3" style="display:none;float:left;" onclick="checkBoxMerge()"><img class="pb-1" src="../static/icons/share-2.svg"></img> Merge</button>
        </div>
    </div>
    <div id="add-row" style="display:none;" class="row pl-5 pr-3">
        <hr />
        <form id="new-entry-form" action="/new" method="post" onsubmit="showLoading();return false;">
        <div class="row">
          <div class="col-md-11" style="padding-top:5px;">
              <textarea style="width:100%" class="form-control" name="new-entry" rows="4" cols="80"></textarea>
              <span class="form-text text-muted">Paste a comma-delimited new entry. Multiple entries must be on separate lines. The "ID" and "VRS" column values will be added automatically.</span>
          </div>
          <div class="col-md-1">
              <button id="submit-button" class="btn btn-success mt-1" onclick="closeEntry()"><img src="../static/icons/check.svg"></img></button><br />
              <button type="button" class="btn btn-danger mt-2" onclick="closeEntry()"><img src="../static/icons/x.svg"></img></button>
          </div>
        <script>
            let form = document.getElementById("new-entry-form");
            document.getElementById("submit-button").addEventListener("click", function () {
                form.submit();
            })
        </script>
        </div>
        </form>
        <hr />
    </div>
    <script>
        function searchSelect(){
            let input = document.getElementById("myInput");
            hgvs = input.value;
            let map = {{ bins|safe }}
            select(map[hgvs]["ID"])
        }

        function autocomplete(inp, arr) {
          /*the autocomplete function takes two arguments,
          the text field element and an array of possible autocompleted values:*/
          var currentFocus;
          /*execute a function when someone writes in the text field:*/
          inp.addEventListener("input", function(e) {
              var a, b, i, val = this.value;
              /*close any already open lists of autocompleted values*/
              closeAllLists();
              if (!val) { return false;}
              currentFocus = -1;
              /*create a DIV element that will contain the items (values):*/
              a = document.createElement("DIV");
              a.setAttribute("id", this.id + "autocomplete-list");
              a.setAttribute("class", "autocomplete-items");
              /*append the DIV element as a child of the autocomplete container:*/
              this.parentNode.appendChild(a);
              /*for each item in the array...*/
              for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                  /*create a DIV element for each matching element:*/
                  b = document.createElement("DIV");
                  /*make the matching letters bold:*/
                  b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                  b.innerHTML += arr[i].substr(val.length);
                  /*insert a input field that will hold the current array item's value:*/
                  b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                  /*execute a function when someone clicks on the item value (DIV element):*/
                      b.addEventListener("click", function(e) {
                      /*insert the value for the autocomplete text field:*/
                      inp.value = this.getElementsByTagName("input")[0].value;
                      /*close the list of autocompleted values,
                      (or any other open lists of autocompleted values:*/
                      closeAllLists();
                  });
                  a.appendChild(b);
                }
              }
          });
          /*execute a function presses a key on the keyboard:*/
          inp.addEventListener("keydown", function(e) {
              var x = document.getElementById(this.id + "autocomplete-list");
              if (x) x = x.getElementsByTagName("div");
              if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                  /*and simulate a click on the "active" item:*/
                  if (x) x[currentFocus].click();
                }
              }
          });
          function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
          }
          function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
              x[i].classList.remove("autocomplete-active");
            }
          }
          function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
              if (elmnt != x[i] && elmnt != inp) {
              x[i].parentNode.removeChild(x[i]);
            }
          }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
        }
        autocomplete(document.getElementById("myInput"), {{ hgvs_array|safe }});
    </script>

    <script>
        let input = document.getElementById("myInput");
        let map = {{ bins|safe }}
        // Execute a function when the user releases a key on the keyboard
        input.addEventListener("keyup", function(event) {
          // Number 13 is the "Enter" key on the keyboard
          if (event.keyCode === 13) {
            // Cancel the default action, if needed
            event.preventDefault();
            select(map[event.target.value]["ID"])
          }
        });
    </script>

{{ table|safe }}

{% endblock %}
